<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" data-provider-thread-count="2">
    <listeners>
        <listener class-name="listeners.testNGListeners"></listener>
        <listener class-name="listeners.annotationTransformer"></listener>
    </listeners>
    <!--<test verbose="2" preserve-order="true" name="/home/suraj/IdeaProjects/cipherApiAutomation" thread-count="1" parallel="methods">-->
    <test verbose="2" preserve-order="true" name="/home/suraj/IdeaProjects/cipherApiAutomation">
        <classes>
            <class name="cipherApi.userRegistration">
                <methods>
                    <include name="registrationWithValidToken"/>
                    <include name="registrationWithInvalidToken"/>
                    <include name="registrationWithMultipleDataSet"/>
                </methods>
            </class>
            <class name="cipherApi.userLogin">
                <methods>
                    <include name="loginWithValidToken"/>
                    <include name="loginWithInvalidToken"/>
                    <include name="loginWithMultipleDataSet"/>
                </methods>
            </class>
            <class name="cipherApi.performActivity">
                <methods>
                    <include name="performActivityWithValidToken"/>
                    <include name="performActivityWithMultipleDataSet"/>
                </methods>
            </class>
            <!--<class name="cipherApi.authCriteriaCheckApi">
                <methods>
                    <include name="getAuthCriteriaCheckWithValidToken"/>
                    <include name="getAuthCriteriaCheckWithMultipleDataSet"/>
                </methods>
            </class>
            <class name="cipherApi.stepUpApi">
                <methods>
                    <include name="stepUpValidToken"/>
                    <include name="stepUpWithMultipleDataSet"/>
                </methods>
            </class>-->
            <!--<class name="listeners.testNGListenersDemo">
                <methods>
                    <include name="test1"/>
                    <include name="test2"/>
                    <include name="test3"/>
                    <include name="test4"/>
                </methods>
            </class>-->
            <!--<class name="testApi.asyncRequestAndProxySettings.asyncDemo">
                <methods>
                    <include name="syncRequest"/>
                    <include name="asyncRequest"/>
                </methods>
            </class>
            <class name="testApi.encodingAndDecoding.studentApiTest">
                <methods>
                    <include name="loginTest"/>
                </methods>
            </class>
            <class name="testApi.getDataAndUse.passValueFromOneApiToAnother">
                <methods>
                    <include name="createBooking"/>
                    <include name="updateBooking"/>
                </methods>
            </class>
            <class name="testApi.oAuth2.oAuth2HardCodedToken">
                <methods>
                    <include name="test1"/>
                </methods>
            </class>
            <class name="testApi.oAuth2.oAuth2NotHardCodedToken">
                <methods>
                    <include name="validApiTest"/>
                    <include name="invalidApiTest"/>
                </methods>
            </class>
            <class name="testApi.passJsonFileAsPayload.passJsonAsPayload">
                <methods>
                    <include name="createUser"/>
                </methods>
            </class>
            <class name="testApi.restAssuredTest.basicValidationXml">
                <methods>
                    <include name="testSingeContent"/>
                    <include name="testMultipContent"/>
                    <include name="testMultipContentInOneGo"/>
                    <include name="testFindingValuesUsingXmlPath"/>
                    <include name="testFindingValuesUsingXmlPath2"/>
                </methods>
            </class>
            <class name="testApi.restAssuredTest.basicValidations">
                <methods>
                    <include name="testStatusCode"/>
                    <include name="testLogging"/>
                    <include name="testSingleContent"/>
                    <include name="testMultipleContent"/>
                    <include name="testParametersAndHeaders"/>
                </methods>
            </class>
            <class name="testApi.restAssuredTest.deleteRequest">
                <methods>
                    <include name="deleteUser"/>
                </methods>
            </class>
            <class name="testApi.restAssuredTest.getRequest">
                <methods>
                    <include name="getUserDetails"/>
                </methods>
            </class>
            <class name="testApi.restAssuredTest.postRequest">
                <methods>
                    <include name="testData"/>
                </methods>
            </class>
            <class name="testApi.restAssuredTest.putRequest">
                <methods>
                    <include name="testPut"/>
                </methods>
            </class>
            <class name="testApi.serializationAndDeserialization.testWithSerialization">
                <methods>
                    <include name="registerUserSerialization"/>
                    <include name="detSerializedData"/>
                </methods>
            </class>
            <class name="testApi.serializationAndDeserialization.testWithoutSerialization">
                <methods>
                    <include name="register"/>
                </methods>
            </class>-->
        </classes>
    </test>
</suite>