<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/home/suraj/IdeaProjects/cipherApiAutomation">
        <classes>
            <class name="restAssuredTest.basicValidationXml">
                <methods>
                    <include name="testSingeContent"/>
                    <include name="testMultipContent"/>
                    <include name="testMultipContentInOneGo"/>
                    <include name="testFindingValuesUsingXmlPath"/>
                    <include name="testFindingValuesUsingXmlPath2"/>
                </methods>
            </class>
            <!-- <class name="restAssuredTest.basicValidations">
                <methods>
                    <include name="testStatusCode"/>
                    <include name="testLogging"/>
                    <include name="testSingleContent"/>
                    <include name="testMultipleContent"/>
                    <include name="testParametersAndHeaders"/>
                </methods>
            </class>
            <class name="restAssuredTest.deleteRequest">
                <methods>
                    <include name="deleteUser"/>
                </methods>
            </class>
            <class name="restAssuredTest.getRequest">
                <methods>
                    <include name="getUserDetails"/>
                </methods>
            </class>
            <class name="restAssuredTest.postRequest">
                <methods>
                    <include name="testData"/>
                </methods>
            </class>
            <class name="restAssuredTest.putRequest">
                <methods>
                    <include name="testPut"/>
                </methods>
            </class>
            <class name="serializationAndDeserialization.testWithSerialization">
                <methods>
                    <include name="registerUserSerialization"/>
                    <include name="detSerializedData"/>
                </methods>
            </class>
            <class name="serializationAndDeserialization.testWithoutSerialization">
                <methods>
                    <include name="register"/>
                </methods>
            </class>
            -->
        </classes>
    </test>
</suite>