<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/home/suraj/IdeaProjects/cipherApiAutomation">
        <classes>
            <class name="cipherApi.cipherRegistration.userRegistration">
                <methods>
                    <include name="registrationData"/>
                    <include name="registrationWithValidToken"/>
                    <include name="registrationWithInvalidToken"/>
                </methods>
            </class>
            <class name="cipherApi.cipherLogin.userLogin">
                <methods>
                    <include name="loginData"/>
                    <include name="loginWithValidToken"/>
                    <include name="loginWithInvalidToken"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>